input{
  border-radius: 4px;
  border:  1px solid #CED4DA;
  font-family: 'Montserrat';
  padding: 7px 12px;
  margin: 30px 0;
  width: 100%;
  outline: none;
  color: #6C757D;
  line-height: 150%;
  font-style: normal;
  font-size: 17px;
}
header button{
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
header button a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    color: #0D6EFD;
}
