<app-section-separador-container>
  <section class="perfil">
    <ul>
      <li>
        <i class="material-icons">account_circle</i>
        <strong>Nome doo Cliente</strong>
      </li>
      <li>
      </li>
      <li>
        <i class="material-icons">call</i>
        <strong>Telefone</strong>
      </li>
      <li>
        (+244)
      </li>
      <li>
        <i class="material-icons">email</i>
        <strong>Email</strong>
      </li>
      <li>

      </li>
      <li>
        <i class="material-icons">description</i>
        <strong>Observações</strong>
      </li>
      <li>

      </li>
    </ul>
    <div class="botoes">
      <button class="botao-excluir">Excluir<i class="material-icons">delete</i></button>
      <button class="botao-editar">Editar <i class="material-icons">edit</i></button>
    </div>
  </section>
</app-section-separador-container>
