.cliente ul {
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
}
.cliente ul li{
  font-size: 18px;
  color: #212529;
  font-family: 'Montserrat';
  font-style: normal;
  list-style: none;
  line-height: 150%;
}

.cliente a{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
